<h1>Angular Intro</h1>
<hr/>
<input type="button" value="Home">
<input type="button" value="Greeter">
<input type="button" value="Calculator">
<h3>Home</h3>
<p>Dolor incididunt eiusmod cupidatat velit do consequat fugiat. Dolor minim sunt culpa dolor cillum. Non proident qui ut excepteur ut enim.</p>
<p>Pariatur irure magna nostrud officia quis et labore. Sunt reprehenderit aliquip labore dolore mollit minim consectetur officia labore veniam exercitation. Elit ut aliquip ad est aliqua commodo elit. Eu elit deserunt qui fugiat est. Consequat eu velit non sunt.</p>
<p>Sint id commodo irure sint ullamco enim officia qui in. Dolor pariatur sit aliqua magna mollit aute duis aute. Labore aliquip ad eu elit id occaecat pariatur. Reprehenderit deserunt deserunt eu cupidatat commodo Lorem elit pariatur.</p>
<app-greeter></app-greeter>
<app-calculator></app-calculator>