<h1>Angular Intro</h1>
<hr/>
<input type="button" value="Home" (click)="choice='home'">
<input type="button" value="Greeter" (click)="choice='greeter'">
<input type="button" value="Calculator" (click)="choice='calculator'">
<input type="button" value="Products" (click)="choice='products'">
<!-- using ngIf -->
<!-- 
<ng-template [ngIf]="choice==='home'">
  <h3>Home</h3>
  <p>Dolor incididunt eiusmod cupidatat velit do consequat fugiat. Dolor minim sunt culpa dolor cillum. Non proident qui ut excepteur ut enim.</p>
  <p>Pariatur irure magna nostrud officia quis et labore. Sunt reprehenderit aliquip labore dolore mollit minim consectetur officia labore veniam exercitation. Elit ut aliquip ad est aliqua commodo elit. Eu elit deserunt qui fugiat est. Consequat eu velit non sunt.</p>
  <p>Sint id commodo irure sint ullamco enim officia qui in. Dolor pariatur sit aliqua magna mollit aute duis aute. Labore aliquip ad eu elit id occaecat pariatur. Reprehenderit deserunt deserunt eu cupidatat commodo Lorem elit pariatur.</p>
</ng-template>
<app-greeter *ngIf="choice==='greeter'"></app-greeter>
<app-calculator *ngIf="choice==='calculator'"></app-calculator> 
-->

<!-- using ngSwtich -->
<div [ngSwitch]="choice">
  <div *ngSwitchCase="'home'">
    <h3>Home</h3>
    <p>Dolor incididunt eiusmod cupidatat velit do consequat fugiat. Dolor minim sunt culpa dolor cillum. Non proident qui
      ut excepteur ut enim.</p>
    <p>Pariatur irure magna nostrud officia quis et labore. Sunt reprehenderit aliquip labore dolore mollit minim
      consectetur officia labore veniam exercitation. Elit ut aliquip ad est aliqua commodo elit. Eu elit deserunt qui
      fugiat est. Consequat eu velit non sunt.</p>
    <p>Sint id commodo irure sint ullamco enim officia qui in. Dolor pariatur sit aliqua magna mollit aute duis aute.
      Labore aliquip ad eu elit id occaecat pariatur. Reprehenderit deserunt deserunt eu cupidatat commodo Lorem elit
      pariatur.</p>
  </div>
  <app-greeter *ngSwitchCase="'greeter'"></app-greeter>
  <app-calculator *ngSwitchCase="'calculator'"></app-calculator>
  <app-products *ngSwitchCase="'products'"></app-products>
</div>