<h3>Bugs</h3>
<hr>
<app-bug-stats [data]="bugs"></app-bug-stats>
<section>
    <label for="">Order By :</label>
    <select (change)="sortAttr = $any($event.target).value">
        <option value="">-- Select --</option>
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created</option>
    </select>
    <label for="">Descending ?:</label>
    <input type="checkbox" (change)="sortByDesc=$any($event.target).checked">
</section>
<app-bug-edit (bugCreated)="onNewBugCreated($event)"></app-bug-edit>

<input type="range" min="20" max="40" value="20" (input)="rangeValue=$any($event.target).value"/>
<span> [ {{rangeValue}} ] </span>
<section class="list">
    <ol>
        <li *ngFor="let bug of ( bugs | sort:sortAttr:sortByDesc )">
            <span class="bugname" 
                [ngClass]="{closed : bug.isClosed}" 
                (click)="onBugClick(bug)"
            >
                {{bug.name | trimText:rangeValue}}
            </span>
            <div class="datetime">[{{bug.createdAt | elapsed}}]</div>
            <input type="button" value="Remove" (click)="onRemoveClick(bug)">
        </li>
    </ol>
    <input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>